/*<?php
header("Content-type: text/css");
?>*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main,
body {
  display: flex;
  justify-content: center;
  width: 100%;
}
.product_form {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 30px 0;
}
.header p {
  font-size: 24px;
  font-weight: bold;
}
.btns {
  display: flex;
  align-items: center;
  width: 180px;
  justify-content: space-between;
}
.save-btn,
.cancel-btn {
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-size: 13px;
  border: 1px solid black;
  padding: 5px 10px;
  box-shadow: 1px 3px 2px black;
  background-color: white;
  text-transform: uppercase;
}
.form-group {
  display: flex;
  margin: 10px 0;
  align-items: center;
}
.form-group input {
  margin-left: 20px;
}
.form-groupie {
  display: flex;
  flex-direction: column;
}
.form-groupie div {
  margin: 10px 0;
}
.description {
  display: none;
  padding: 10px 0;
}
.add-btn,
.btns button {
  outline: none;
  padding: 5px 10px;
  text-decoration: none;
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
  box-shadow: 1px 2px 2px black;
}
#dvdForm,
#bookForm,
#furnitureForm {
  display: none;
}
#furnitureForm {
  flex-direction: column;
}
#dvdForm .form-group,
#bookForm .form-group,
#furnitureForm .form-group {
  display: none;
}
.error-msg {
  color: red;
  padding: 10px 0;
}
#dvdForm.show,
#bookForm.show,
#furnitureForm.show {
  display: flex;
}
#dvdForm.show .form-group,
#bookForm.show .form-group,
#furnitureForm.show .form-group {
  display: flex;
}
